<div class="wrapper">
    <div #about class="about" [hidden]="!aboutClicked">
        <h2>Grow Tree project. </h2>
        <br>
        Three grows by itself. You can help growing the tree using mouse. On android you can use touch to grow tree. 
        If you stop tree grow using "pause" button or pressing "space" on keyboard, then
        you can put leaves. Leaves can be put using mouse button.
        <br>
        You can change settings on settings button click.
        Please place issues to this <a href="https://github.com/evgenycheryomushkin/growtree/issues">Issue tracker</a>
        Or send emails to <a href="mailto:cher888tree@gmail.com">cher888tree@gmail.com</a>
        <br>
        <h3>Credits:</h3>
        Sound is taken from <a href="https://freesound.org/people/Amoek/sounds/393348/">freesound</a>
        Recorded by <a href="https://freesound.org/people/Amoek/">Amoek</a>.
        Licensed by <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0
            Unported</a>.
        <h3>Settings:</h3>
        <table>
            <tr>
                <td>
                    Tree thickness:
                </td>
                <td>
                    Leaf thickness:
                </td>
                <td>
                    Leaf size:
                </td>
                </tr>
                <tr>
                    <td>
                        <mat-slider (valueChange)="treeThicknessChange($event)" [value]="getTreeThickness()"></mat-slider>
                    </td>
                    <td>
                        <mat-slider (valueChange)="leafThicknessChange($event)" [value]="getLeafThickness()"></mat-slider>
                    </td>
                    <td>
                        <mat-slider (valueChange)="leafSizeChange($event)" [value]="getLeafSize()"></mat-slider>
                    </td>
                </tr>
                <tr>
                    <td>
                        Bend:
                    </td>    
                </tr>
                <tr>
                    <td>
                        <mat-slider (valueChange)="bendChange($event)" [value]="getBend()"> </mat-slider>
                    </td>
                </tr>
        </table>
        <br>
        <button mat-button (click)="doneClick($event)">{{this.doneButtonText}}</button>
    </div>
    <div class="canvas" [hidden]="aboutClicked">
        <canvas #canvas (mousemove)="mouseMove($event)" (mousedown)="mouseDown($event)"
            (touchstart)="touchStart($event)" (touchmove)="touchMove($event)" (touchend)="touchEnd($event)">
        </canvas>
        <br>
        <button mat-button (click)="pauseClick($event)">{{this.pauseButtonText}}</button>
        <button mat-button onclick="this.blur()" (click)="newClick($event)">{{this.newButtonText}}</button>
        <button mat-button onclick="this.blur()" (click)="downloadClick($event)">{{this.downloadButtonText}}</button>
        <button mat-button onclick="this.blur()" (click)="aboutClick($event)">{{this.aboutButtonText}}</button>
    </div>
</div>